<% @topics.each do |topic| %>
    <div class="topic-card my-5">
        <div class="d-flex align-items-center mb-3">
                <% if topic.user.photo.present? %>
          <%= cl_image_tag topic.user.photo.key, style: "width: 35px; height: 35px; object-fit: cover; border-radius: 50%; box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1); outline: 2px solid #d4c1a9;" %>
        <% else %>
          <%= image_tag "https://static.vecteezy.com/system/resources/previews/009/292/244/non_2x/default-avatar-icon-of-social-media-user-vector.jpg", style: "width: 35px; height: 35px; object-fit: cover; border-radius: 50%; box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1); outline: 2px solid #d4c1a9;" %>
        <% end %>
        <p class="username ms-2"> <%= topic.user.name %> </p>
        </div>
        <h3 mb-2> <%= topic.title %> </h3>
        <div class="d-flex align-items-center justify-content-between">
        <p class="mb-0"> <%= topic.description %> </p>
        <%= link_to "Open", topic_path(topic), class: "gumroad"%>
        </div>
    </div>
<% end %>
