<div data-controller="toggle" class="comments-wrapper" >
  <div class="main-comment my-3 d-flex flex-column" data-controller="vote" data-vote-id="<%= comment.id %>">
    <div class="d-flex align-items-center justify-content-between">
      <div class="d-flex align-items-center">
        <% if comment.user.photo.present? %>
          <%= cl_image_tag comment.user.photo.key, style: "width: 35px; height: 35px; object-fit: cover; border-radius: 50%; box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1); outline: 2px solid #d4c1a9;" %>
        <% else %>
          <%= image_tag "https://static.vecteezy.com/system/resources/previews/009/292/244/non_2x/default-avatar-icon-of-social-media-user-vector.jpg", style: "width: 35px; height: 35px; object-fit: cover; border-radius: 50%; box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1); outline: 2px solid #d4c1a9;" %>
        <% end %>
        <p class="username ms-2"> <%= comment.user.name %> </p>
      </div>
    </div>
    <div class="d-flex">
      <div class="d-flex mt-3">
        <p class="mb-0"> <%= comment.content %> </p>
      </div>
    </div>
    <%= render 'topics/reply', comment: comment, new_comment: new_comment %>
  </div>
  <!-- below is reply -->
</div>
