<div class="user-profile">
  <div class="card">
    <div class="user-info">
        <%# if current_user.photo.present? %>
          <%#= cl_image_tag current_user.photo.key, class: "avatar dropdown-toggle me-5", id: "navbarDropdown", data: { bs_toggle: "dropdown" }, aria: { haspopup: true, expanded: false }, style: "border-radius: 50%; width: 40px; height: 40px; object-fit: cover; border: 2px solid #e0e0e0;" %>
        <%# else %>
          <%# image_tag "https://static.miraheze.org/kiddancerswiki/a/a6/Mayoral-dylan-image.jpg", class: "avatar dropdown-toggle me-5", id: "navbarDropdown", data: { bs_toggle: "dropdown" }, aria: { haspopup: true, expanded: false }, style: "border-radius: 50%; width: 40px; height: 40px; object-fit: cover; border: 2px solid #e0e0e0;" %>
        <%# end %>

      <h2 class="user-name"><%= @user.name %></h2>
    </div>
  </div>

  <div class='container'>
    <ul class="nav nav-tabs" id="userProfileTabs" role="tablist">
      <li class="nav-item" role="presentation">
        <button class="nav-link active" id="topics-tab" data-bs-toggle="tab" data-bs-target="#topics" type="button" role="tab" aria-controls="topics" aria-selected="true">
          Favourite Topics
        </button>
      </li>
      <li class="nav-item" role="presentation">
        <button class="nav-link" id="comments-tab" data-bs-toggle="tab" data-bs-target="#comments" type="button" role="tab" aria-controls="comments" aria-selected="false">
          My Comments
        </button>
      </li>
    </ul>

    <div class='tab-content'>
      <div class="tab-pane fade show active" id="topics" role="tabpanel" aria-labelledby="topics-tab">
        <h3>Favourite Topics</h3>
        <% if @user.favorited_topics.present? %>
          <ul class="topics-list">
            <% @user.favorited_topics.each do |topic| %>
              <li>
                <%= link_to topic.title, topic_path(topic), class: "topic-link" %>
              </li>
            <% end %>
          </ul>
        <% else %>
          <p class="no-topics-message">No Favourite Topics</p>
        <% end %>
      </div>

      <div class="tab-pane fade" id="comments" role="tabpanel" aria-labelledby="comments-tab">
        <h3>My Comments</h3>
        <% if @user.comments.any? %>
          <p class="comments-count"><%= @user.comments.count %> comment(s).</p>
          <div class="comments-container">
            <% @user.comments.each do |comment| %>
              <div class="comment-card">
                <h4 class="comment-topic">Topic: <%= comment.topic.title %></h4>
                <p class="comment-content"><%= comment.content %></p>
                <small class="comment-date">Written on: <%= comment.created_at.strftime("%B %d, %Y at %I:%M %p") %></small>
              </div>
            <% end %>
          </div>
        <% else %>
          <p class="no-comments-message">You have not made any comments yet.</p>
        <% end %>
      </div>
    </div>
  </div>
</div>
