<div class="user-profile">
  <div class="card-dashboard">
    <div class="user-info">
      <%= render "profilepic" %>
      <%= render "username" %>
      <p class="user-duration mt-2" style="font-size: 0.9em;">Member since <%= distance_of_time_in_words(@user.created_at, Time.current) %></p>
    </div>
    <div class="votes" title="You earn points by participating in the community. You earn 1 point by writing topics, 2 points by writing comments and 5 points per upvote you get.">
      <p>You got <strong><%= @user.point %></strong> points <i class="fa-solid fa-circle-info" style="transition: color 0.3s; cursor: pointer;" onmouseover="this.style.color='#51483F';" onmouseout="this.style.color='';"></i></p>
    </div>
    <button class="btn btn-primary" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasRight" aria-controls="offcanvasRight">Rankings</button>
    <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasRight" aria-labelledby="offcanvasRightLabel">
      <div class="offcanvas-header">
        <h5 id="offcanvasRightLabel">Rankings 👑</h5>
        <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
      </div>
      <div class="offcanvas-body">
        <% @users.sort_by(&:point).reverse.take(10).each_with_index do |user, index| %>
          <p><%= index + 1 %>. <%= user.name %> has <strong><%= user.point %></strong> points</p><br>
        <% end %>
      </div>
    </div>
  </div>
  <div class="container">
    <ul class="nav nav-tabs" id="userProfileTabs" role="tablist">
      <li class="nav-item" role="presentation">
        <button class="nav-link active" id="topics-tab" data-bs-toggle="tab" data-bs-target="#topics" type="button" role="tab" aria-controls="topics" aria-selected="true">
          Favourite Topics
        </button>
      </li>
      <li class="nav-item" role="presentation">
        <button class="nav-link" id="comments-tab" data-bs-toggle="tab" data-bs-target="#comments" type="button" role="tab" aria-controls="comments" aria-selected="false">
          My Comments
        </button>
      </li>
    </ul>
    <% favorites_by_day = Favorite.where(favoritor: @user, favoritable_type: 'Topic').includes(:favoritable).group_by { |favorite| favorite.created_at.to_date } %>
    <div class="tab-content">
      <div class="tab-pane fade show active" id="topics" role="tabpanel" aria-labelledby="topics-tab">
        <h3 class="text-center">Favourite Topics</h3>
        <% if favorites_by_day.any? %>
          <% favorites_by_day.each do |date, favorites| %>
            <div class="day-group-card card my-3">
              <div class="card-header">
                <h5>Favorited on <%= date.strftime("%A, %B %d, %Y") %></h5>
              </div>
              <div class="card-body">
                <% favorites.each do |favorite| %>
                  <% topic = favorite.favoritable %>
                  <%= link_to topic_path(topic), class: "inner-topic-card" do %>
                    <div class="inner-topic-content">
                      <div class="d-flex align-items-center">
                        <p class="username"><%= topic.user.name %></p>
                      </div>
                      <h3 class="topic-title-link"><%= topic.title %></h3>
                      <p class="mb-0"><%= topic.description.truncate(150, separator: ' ') %></p>
                    </div>
                    <div class="favorite-date">
                      Favorited on: <%= favorite.created_at.strftime("%B %d, %Y") %>
                    </div>
                  <% end %>
                <% end %>
              </div>
            </div>
          <% end %>
        <% else %>
          <p class="no-topics-message">No Favourite Topics</p>
        <% end %>
      </div>
      <div class="tab-pane fade" id="comments" role="tabpanel" aria-labelledby="comments-tab">
        <h3>My Comments</h3>
        <% if @user.comments.any? %>
          <p class="comments-count"><%= @user.comments.count %> comment(s).</p>
          <div class="comments-container">
            <% @user.comments.each do |comment| %>
              <%= link_to topic_path(comment.topic), class: "comment-card-link" do %>
                <div class="comment-card">
                  <h4 class="comment-topic">Topic: <%= comment.topic.title %></h4>
                  <p class="comment-content"><%= comment.content %></p>
                  <small class="comment-date">Written on: <%= comment.created_at.strftime("%B %d, %Y at %I:%M %p") %></small>
                </div>
              <% end %>
            <% end %>
          </div>
        <% else %>
          <p class="no-comments-message">You have not made any comments yet.</p>
        <% end %>
      </div>
    </div>
  </div>
</div>
